<a href="https://colab.research.google.com/github/Nithiyasankar/Pandas_programs_in_Python/blob/main/Pandas_programs_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data={
    'Name':['x','y','z'],
    'Age':[20,21,20],
    'City':['Pune','Kashmir','ghajagasthan']
}
df=pd.DataFrame(data)
print("DataFrame from dictionary:\n",df)

DataFrame from dictionary:
   Name  Age          City
0    x   20          Pune
1    y   21       Kashmir
2    z   20  ghajagasthan

In [ ]:
import pandas as pd
df=pd.read_csv('/content/heart.csv')
print("DataFrame from CSV file:\n",df)

DataFrame from CSV file:
      ï»¿age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0        63    1   3       145   233    1        0      150      0      2.3
1        37    1   2       130   250    0        1      187      0      3.5
2        41    0   1       130   204    0        0      172      0      1.4
3        56    1   1       120   236    0        1      178      0      0.8
4        57    0   0       120   354    0        1      163      1      0.6
..      ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298      57    0   0       140   241    0        1      123      1      0.2
299      45    1   3       110   264    0        1      132      0      1.2
300      68    1   0       144   193    1        1      141      0      3.4
301      57    1   0       130   131    0        1      115      1      1.2
302      57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]

In [ ]:
import pandas as pd
data = {
    'Name': ['ashok','arun','ajay','balaji','raj','radha','sita','ram','ravi','raju'],
    'Age': [25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
    'City': ['Pune', 'Mumbai', 'Delhi', 'Bangalore', 'Chennai', 'Kolkata', 'Hyderabad', 'Ahmedabad', 'Jaipur', 'Lucknow'],
    'Salary': [25000.50, 30000, 35000, 40000.50, 45000,50000,55000,60000,65000.50,70000]
}
df=pd.DataFrame(data)
print("First few rows:\n",df.head())
print("Last few rows:\n",df.tail())
print("Info about DataFrame:\n",df.info())
print("Basic statistics:\n",df.describe())

First few rows:
      Name  Age       City   Salary
0   ashok   25       Pune  25000.5
1    arun   30     Mumbai  30000.0
2    ajay   35      Delhi  35000.0
3  balaji   40  Bangalore  40000.5
4     raj   45    Chennai  45000.0
Last few rows:
     Name  Age       City   Salary
5  radha   50    Kolkata  50000.0
6   sita   55  Hyderabad  55000.0
7    ram   60  Ahmedabad  60000.0
8   ravi   65     Jaipur  65000.5
9   raju   70    Lucknow  70000.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   City    10 non-null     object
 3   Salary  10 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 448.0+ bytes
Info about DataFrame:
 None
Basic statistics:
              Age        Salary
count  10.000000     10.000000
mean   47.500000  47500.150000
std    15.138252  15138.205899
min    25.000000  25000.500000
25%    36.250000  36250.125000
50%    47.500000  47500.000000
75%    58.750000  58750.000000
max    70.000000  70000.000000

In [ ]:
import pandas as pd
print("Name column:\n",df['Name'])
print("Name Age Salary columns:\n",df[['Name','Age','Salary']])
print("First row:\n",df.iloc[0])
print("Rows where Age>50:\n",df[df['Age']>50])

Name column:
 0     ashok
1      arun
2      ajay
3    balaji
4       raj
5     radha
6      sita
7       ram
8      ravi
9      raju
Name: Name, dtype: object
Name Age Salary columns:
      Name  Age   Salary
0   ashok   25  25000.5
1    arun   30  30000.0
2    ajay   35  35000.0
3  balaji   40  40000.5
4     raj   45  45000.0
5   radha   50  50000.0
6    sita   55  55000.0
7     ram   60  60000.0
8    ravi   65  65000.5
9    raju   70  70000.0
First row:
 Name        ashok
Age            25
City         Pune
Salary    25000.5
Name: 0, dtype: object
Rows where Age>50:
    Name  Age       City   Salary
6  sita   55  Hyderabad  55000.0
7   ram   60  Ahmedabad  60000.0
8  ravi   65     Jaipur  65000.5
9  raju   70    Lucknow  70000.0

In [ ]:
df['Gender']=['M','M','M','M','M','F','F','M','M','M']
print("DataFrame with new column:\n",df)
df['Age']=df['Age']+1
print("DataFrame with modified Age column:\n",df)
df=df.drop(columns=['City'])
print("DataFrame with City column dropped:\n",df)

DataFrame with new column:
      Name  Age       City   Salary Gender
0   ashok   25       Pune  25000.5      M
1    arun   30     Mumbai  30000.0      M
2    ajay   35      Delhi  35000.0      M
3  balaji   40  Bangalore  40000.5      M
4     raj   45    Chennai  45000.0      M
5   radha   50    Kolkata  50000.0      F
6    sita   55  Hyderabad  55000.0      F
7     ram   60  Ahmedabad  60000.0      M
8    ravi   65     Jaipur  65000.5      M
9    raju   70    Lucknow  70000.0      M
DataFrame with modified Age column:
      Name  Age       City   Salary Gender
0   ashok   26       Pune  25000.5      M
1    arun   31     Mumbai  30000.0      M
2    ajay   36      Delhi  35000.0      M
3  balaji   41  Bangalore  40000.5      M
4     raj   46    Chennai  45000.0      M
5   radha   51    Kolkata  50000.0      F
6    sita   56  Hyderabad  55000.0      F
7     ram   61  Ahmedabad  60000.0      M
8    ravi   66     Jaipur  65000.5      M
9    raju   71    Lucknow  70000.0      M
DataFrame with City column dropped:
      Name  Age   Salary Gender
0   ashok   26  25000.5      M
1    arun   31  30000.0      M
2    ajay   36  35000.0      M
3  balaji   41  40000.5      M
4     raj   46  45000.0      M
5   radha   51  50000.0      F
6    sita   56  55000.0      F
7     ram   61  60000.0      M
8    ravi   66  65000.5      M
9    raju   71  70000.0      M

In [ ]:
data={
    'Name':['x','y','z'],
    'Age':[20,None,20],
    'City':['Pune','Kashmir',None]
}
df=pd.DataFrame(data)
print("DataFrame with missing values:\n",df)
df_dropped=df.dropna()
print("DataFrame after dropping missing values:\n",df)
df_filled=df.fillna({'Age':0,'City':'Unknown'})
print("DataFrame with missing values filled:\n",df_filled)

DataFrame with missing values:
   Name   Age     City
0    x  20.0     Pune
1    y   NaN  Kashmir
2    z  20.0     None
DataFrame after dropping missing values:
   Name   Age     City
0    x  20.0     Pune
1    y   NaN  Kashmir
2    z  20.0     None
DataFrame with missing values filled:
   Name   Age     City
0    x  20.0     Pune
1    y   0.0  Kashmir
2    z  20.0  Unknown

In [ ]:
import pandas as pd
df=pd.read_csv('/content/heart.csv')
print("DataFrame from CSV file:\n",df)

DataFrame from CSV file:
      ï»¿age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0        63    1   3       145   233    1        0      150      0      2.3
1        37    1   2       130   250    0        1      187      0      3.5
2        41    0   1       130   204    0        0      172      0      1.4
3        56    1   1       120   236    0        1      178      0      0.8
4        57    0   0       120   354    0        1      163      1      0.6
..      ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298      57    0   0       140   241    0        1      123      1      0.2
299      45    1   3       110   264    0        1      132      0      1.2
300      68    1   0       144   193    1        1      141      0      3.4
301      57    1   0       130   131    0        1      115      1      1.2
302      57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]

In [ ]:

print("First few rows:\n",df.head())
print("Last few rows:\n",df.tail())
print("Info about DataFrame:\n",df.info())
print("Basic statistics:\n",df.describe())

First few rows:
    ï»¿age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      63    1   3       145   233    1        0      150      0      2.3
1      37    1   2       130   250    0        1      187      0      3.5
2      41    0   1       130   204    0        0      172      0      1.4
3      56    1   1       120   236    0        1      178      0      0.8
4      57    0   0       120   354    0        1      163      1      0.6

   slope  ca  thal  target
0      0   0     1       1
1      0   0     2       1
2      2   0     2       1
3      2   0     2       1
4      2   0     2       1
Last few rows:
      ï»¿age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
298      57    0   0       140   241    0        1      123      1      0.2
299      45    1   3       110   264    0        1      132      0      1.2
300      68    1   0       144   193    1        1      141      0      3.4
301      57    1   0       130   131    0        1      115      1      1.2
302      57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ï»¿age    303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB
Info about DataFrame:
 None
Basic statistics:
            ï»¿age         sex          cp    trestbps        chol         fbs  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  131.623762  246.264026    0.148515
std      9.082101    0.466011    1.032052   17.538143   51.830751    0.356198
min     29.000000    0.000000    0.000000   94.000000  126.000000    0.000000
25%     47.500000    0.000000    0.000000  120.000000  211.000000    0.000000
50%     55.000000    1.000000    1.000000  130.000000  240.000000    0.000000
75%     61.000000    1.000000    2.000000  140.000000  274.500000    0.000000
max     77.000000    1.000000    3.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope          ca  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean     0.528053  149.646865    0.326733    1.039604    1.399340    0.729373
std      0.525860   22.905161    0.469794    1.161075    0.616226    1.022606
min      0.000000   71.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000  133.500000    0.000000    0.000000    1.000000    0.000000
50%      1.000000  153.000000    0.000000    0.800000    1.000000    0.000000
75%      1.000000  166.000000    1.000000    1.600000    2.000000    1.000000
max      2.000000  202.000000    1.000000    6.200000    2.000000    4.000000

             thal      target
count  303.000000  303.000000
mean     2.313531    0.544554
std      0.612277    0.498835
min      0.000000    0.000000
25%      2.000000    0.000000
50%      2.000000    1.000000
75%      3.000000    1.000000
max      3.000000    1.000000